<div>
    <h1>Welcome Back</h1>
    <h3>Login Here</h3>
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div>
            <label for="username" class="email-label">Email</label>
            <input
                required
                type="text"
                name="username"
                [(ngModel)]="form.username"
                #username="ngModel">
            <br/>
            <label for="password">Password</label>
            <input type="password"
                   name="password"
                   [(ngModel)]="form.password"
                   required
                   #password="ngModel">
        </div>
        <button>Submit</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
</div>